<script type="text/javascript">
    RED.nodes.registerType('iiwa-ikfast_getnumjoints', {
        category: 'special',
        color: '#D7D7A0',
        defaults: {
            name: { value: "" }
        },
        inputs: 1,
        outputs: 1,
        icon: "font-awesome/fa-gears",
        category: "robotics",
        label: "iiwa GetNumJoints",
        paletteLabel: "iiwa joints",
    });
    RED.nodes.registerType('iiwa-ikfast_computefk', {
        category: 'special',
        color: '#D7D7A0',
        defaults: {
            name: { value: "" }
        },
        inputs: 1,
        outputs: 1,
        icon: "font-awesome/fa-gears",
        category: "robotics",
        label: "iiwa ComputeFK",
        paletteLabel: "iiwa FK",
    });
    RED.nodes.registerType('iiwa-ikfast_computeik', {
        category: 'special',
        color: '#D7D7A0',
        defaults: {
            name: { value: "" }
        },
        inputs: 1,
        outputs: 1,
        icon: "font-awesome/fa-gears",
        category: "robotics",
        label: "iiwa ComputeIK",
        paletteLabel: "iiwa IK",
    });
</script>

<script type="text/html" data-template-name="iiwa-ikfast_getnumjoints">
    <div class="form-row">
        <p>This custom node has no applicable settings.</p>
    </div>
</script>

<script type="text/html" data-help-name="iiwa-ikfast_getnumjoints">
    <p>This custom node exposes the IKFAST's <code>GetNumJoints</code> C++ function.</p>
</script>

<script type="text/html" data-template-name="iiwa-ikfast_computefk">
    <div class="form-row">
        <p>This custom node has no applicable settings.</p>
    </div>
</script>

<script type="text/html" data-help-name="iiwa-ikfast_computefk">
    <p>This custom node exposes the IKFAST's <code>GetNumJoints</code> C++ function.</p>
</script>

<script type="text/html" data-template-name="iiwa-ikfast_computeik">
    <div class="form-row">
        <p>This custom node has no applicable settings.</p>
    </div>
</script>

<script type="text/html" data-help-name="iiwa-ikfast_computeik">
    <p>This custom node exposes the IKFAST's <code>GetNumJoints</code> C++ function.</p>
</script>

</script>